@inherits DraggableComponent



    <div class="@StyleClass" draggable="true"
         @ondragstart="OnDragStart"
         @ondragstart:stopPropagation>
        @Model.Text
    </div>


@code
{


    public override string StyleClass
    {
        get
        {
            string cls = "tool-row ";
            return cls;
        }
    }

}




