@page "/editor"
@inject ReportComponentService _Service


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left" style="margin-top: 55px">
    <ToolBox />
</nav>
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-right" style="margin-top: 55px">
    <PropertyWindow />
</nav>
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="">帳票作成</a>
    <TopMenu />
</nav>
<div class="container" style="margin-top: 100px">

    @foreach (var paper in _Service.Papers)
    {
        <div class="A4">
            <Paper Model="@paper"/>
        </div>
    }


</div>

@code {

    protected override void OnInitialized()
    {
        _Service.PaperPropertyChanged += OnPaperPropertyChanged;
    }

    private void OnPaperPropertyChanged(ContainerComponentModel paper)
    {
        StateHasChanged();
    }

}
