@inject HighLightingService _HighLightingService
@inject ReportComponentService _Service

    <table>
        <tr>
            <td>固定テキスト</td>
            <td><input type="text" @bind="Text" /></td>
        </tr>
        <tr>
            <td>バインディング</td>
            <td><input type="text" @bind="BindingPath" /></td>
        </tr>
        <tr>
            <td>フォント</td>
            <td><input type="text" @bind="FontName" /></td>
        </tr>
        <tr>
            <td>フォントサイズ</td>
            <td><input type="text" @bind="FontSize" /></td>
        </tr>
    </table>

@code {

    [Parameter]
    public DraggableComponentModel Model { get; set; }

    public TextComponentModel ExtendedModel;

    private string Text { get => ExtendedModel?.Text; set => ExtendedModel.Text = value; }

    private string BindingPath { get => ExtendedModel?.BindingPath; set => ExtendedModel.BindingPath = value; }

    private string FontName { get => ExtendedModel?.FontName; set => ExtendedModel.FontName = value; }

    private int FontSize { get => ExtendedModel.FontSize; set => ExtendedModel.FontSize = value; }


    protected override void OnInitialized()
    {
        _HighLightingService.HighLightChanged += HighLightChanged;
        _Service.ModelPropertyChanged += OnModelPropertyChanged;
        ExtendedModel = Model as TextComponentModel;

    }

    private void OnModelPropertyChanged(string id, DraggableComponentModel model)
    {
        Model = model;
        ExtendedModel = Model as TextComponentModel;
        StateHasChanged();
    }

    private void HighLightChanged(object sender, EventArgs e)
    {
        var model = _Service.Find(_HighLightingService.HighLightingID);
        if (model == null)
        {
            return;
        }
        Model = model;
        ExtendedModel = Model as TextComponentModel;
        StateHasChanged();
    }
}
